body{
    background-color: gray;
}
section{
    display:grid;
    grid-template-rows: auto auto;
}
input{
    background: none;
    border: none;
}
.score{
    margin-left: 50px;
}
.click{
    margin-left: 10px;
}
.cookie, object{
    width: 200px;
    height:200px;
    border-radius: 50%;
}
object:hover{
    cursor: pointer;
}